.heroContainer {
  position: relative;
  min-height: 80vh;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.bgImage {
  object-fit: cover;
  object-position: center;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom,
    rgba(0, 12, 64, 0.25),
    rgba(0, 0, 0, 0.3)
  );
  z-index: 1;
}

.contentWrapper {
  position: relative;
  z-index: 2;
  padding: 20px;
}

.title {
  font-size: clamp(2.5rem, 5vw, 4.5rem);
  font-weight: 800;
  color: var(--text-main);
  margin-bottom: 25px;
  margin-top: 100px;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  letter-spacing: -1px;
}

.highlightName {
  color: var(--accent-orange);
}

.subtitle {
  font-size: clamp(1.1rem, 2vw, 1.35rem);
  color: var(--text-main);
  opacity: 0.9;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.subtitleCursive {
  font-size: clamp(1.1rem, 2vw, 1.35rem);
  color: var(--text-main);
  opacity: 0.9;
  line-height: 1.6;

  max-width: 800px;
  margin: 0 auto;
  font-style: italic;
  font-weight: 700;
}

.contactBtnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.3rem;
  background-color: var(--accent-orange);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.2s;
  width: fit-content;
}

.contactBtn:hover {
  background-color: var(--accent-orange-hover);
}

.whatsappIcon {
  font-size: 2rem;
  color: #25d366;
}

@media (max-width: 768px) {
  .heroContainer {
    min-height: 70vh;
    align-items: flex-end;
    padding-bottom: 60px;
  }
}
